<!DOCTYPE html>
<html>
<head>
  <title>Historial del Clima</title>
</head>
<body>
<div class="container mt-5">
  <h1 class="text-center mb-4">Historial del Clima</h1>
  <% if @weather_data_history.any? %>
    <ul class="list-group">
      <% @weather_data_history.each do |weather_data| %>
        <li class="list-group-item d-flex justify-content-center align-items-center flex-column">
          <p class="mb-0">Ciudad: <%= weather_data.city %></p>
            <p class="mb-0">Temperatura: <%= weather_data.temperature %> °C</p>
            <p class="mb-0">Descripción del clima: <%= weather_data.description %></p>
            <p class="mb-0">Hora de consulta: <%= weather_data.created_at %></p>
            <%= button_to 'Eliminar', delete_weather_data_path(weather_data), method: :delete, data: { confirm: 'Are you sure you want to delete this weather data?' }, class: 'btn btn-danger mt-2' %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="text-center">No hay datos disponibles en el historial del clima.</p>
  <% end %>
  <%= link_to 'Regresar', root_path, class: 'btn btn-primary mt-3' %>
  </div>
</body>
</html>





